.author{
  text-align: center;
  font-family: Courier;
  font-size: 30;
  color:#6af907;
  background-image:url(../assets/game.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
}

h1 {
  background-color:#320237;
  font-size: 55;
  color: #eef907;
}
