.jumbotron{
  background-image:url(../assets/game.jpeg);
}
.author{
  text-align: center;
  font-family: Courier;
  font-size: 30;
  color:#FF5733;
  background-image:url(../assets/game.gif);
  background-repeat: no-repeat;
  background-size: 100%;
}

h2 {
  background-color:#320237;
  font-size: 55;
  color: #eef907;
}

#test{
  font-family: Courier;
}
